<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jbi.photosync">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:backupAgent=".utils.BackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestTheme.NoActionBar_Fitted">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditFolderActivity" />
        <activity android:name=".activities.MediaScreenSlideActivity" />
        <activity android:name=".activities.PhotoSelectorActivity" />

        <service
            android:name=".http.FileUploadIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI6a4xiRMqcfLCkIOlotmCmNaJoJvGh6oEZPCAew" />

        <activity android:name=".activities.MediaSelectorGridActivity"></activity>
    </application>

</manifest>